<form action="/create-checkout-session" method="POST">
    <button type="submit" id="checkout-button" id="gamebutton" class="checkoutBtn">Skip to Checkout</button>
  </form>
  <div class="gamepage">

    <h1>------:--BEAT GRITTY FOR A DISCOUNT CODE--:------ </h1>

    <button class="button" id="gamebutton">PLAY</button>
  </div>
  <script src='/assets/js/gamescript.js'></script>