<div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
  <main role="main" class="inner cover">
    <h1 class="cover-heading">Gritty Wear</h1>
    <p class="lead">Gritty Wear is your one-stop shop for the best Gritty merch.</p>
  </main>
  <div class="align-self-center">
    <a href="./products.html" class="button"><img src="../assets/images/hero-image.jpg"
        alt='a photo of the Flyers mascot Gritty' sizes="100vw"></a>
  </div>

  <footer class="mt-auto">
    <div class="inner">
      <p>Group 4's Project 2</p>
    </div>
  </footer>
</div>